<div class="bg-orange-300 text-white p-8 flex flex-col items-start space-y-4 mx-auto">
  <div class="space-y-4 max-w-3xl m-auto">
    <h1 class="text-blue-700 text-4xl font-bold">¡Conéctate con nosotros hoy!</h1>
    <p class="text-sm text-slate-700">Solicita tu consulta gratuita y descubre cómo podemos transformar tu presencia en línea.</p>
    <ol class="list-disc list-inside space-y-2">
      <li class="text-lg text-blue-800 font-semibold">alpuis.andres@gmail.com.</li>
      <li class="text-lg text-blue-800 font-semibold">@Andes_Studio.</li>
      <li class="text-lg text-blue-800 font-semibold">+569-56354273.</li>
    </ol>
  </div>
</div>
