---
import Instagram from "../Iconos/Instagram.astro";
import Facebook from "../Iconos/Facebook.astro";
import Git from "../Iconos/Git.astro";
---

<footer class="w-full flex flex-col items-center justify-center bg-gray-800 text-white overflow-hidden">
  <div class="flex items-center justify-between w-full max-w-7xl p-4 flex-wrap">
    <div class="flex items-center">
      <img class="w-28" src="../andes_logo.svg" alt="Andes_Studio color-" />
      <h2 class="hidden sm:text-lg sm:font-semibold sm:block">Andes Studio</h2>
    </div>
    <nav class="flex items-center gap-x-10">
      <ul class="flex gap-5 items-center flex-wrap">
        <li><a class="font-semibold hover:text-blue-300" href="#">Inicio</a></li>
        <li><a class="font-semibold hover:text-blue-300" href="#">Servicios</a></li>
        <li><a class="font-semibold hover:text-blue-300" href="#">Testimonios</a></li>
        <li><a class="font-semibold hover:text-blue-300" href="#">Precios</a></li>
        <li><a class="font-semibold hover:text-blue-300" href="#">Contacto</a></li>
      </ul>
    </nav>
  </div>
  <div class="flex items-center justify-between w-full max-w-7xl p-4 flex-wrap">
    <p>@2025 Andes_Studio. Todos los derechos reservados</p>
    <div class="flex gap-4 flex-wrap">
      <a href="">Políticas de privacidad</a>
      <a href="">Términos de servicio</a>
      <a href="">Cookie Settings</a>
    </div>
  </div>
</footer>
