---
import Card from "../components/Card.astro";
---

<div class="flex flex-col p-6 h-dvh mx-auto">
  <!-- Contenedor principal centrado -->
  <div class="flex flex-col space-y-3 w-full max-w-5xl mx-auto text-left">
    <span>Innovación</span>
    <h1 class="text-blue-700 font-semibold text-2xl">Características que Transforman <br /> Tu Presencia Online</h1>
    <p>Ofrecemos soluciones de diseño web personalizadas que se adaptan a tus necesidades <br /> específicas. Nuestro enfoque garantiza que cada sitio web sea único y atractivo.</p>
  </div>

  <!-- Sección de tarjetas centradas con el mismo ancho -->
  <div class="flex flex-wrap gap-4 justify-between w-full max-w-5xl mx-auto mt-6">
    <Card image="./andes_logo.svg" title="Desarrollo Escalable para Crecimiento Sostenible" description="Construimos plataformas que crecen contigo y tu negocio." />
    <Card image="./andes_logo.svg" title="Desarrollo Escalable para Crecimiento Sostenible" description="Construimos plataformas que crecen contigo y tu negocio." />
    <Card image="./andes_logo.svg" title="Desarrollo Escalable para Crecimiento Sostenible" description="Construimos plataformas que crecen contigo y tu negocio." />
  </div>
</div>
